@import "variables";

/*top-wrapperに関する記述*/
@mixin Top-Wrapper($background-image) {
  background-image: $background-image;
  background-size: cover;
  text-align: center;
  padding: 140px 0 100px;
  background-size: cover;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: "Hiragino Kaku Gothic ProN";
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  letter-spacing: 5px;
  margin: 100px 0 70px;
  font-weight: bold;
  color: white;
  opacity: 1;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.animated {
  opacity: 0;
}

/*header*/
header {
  height: 65px;
  width: 100%;
  background-color: rgba(197, 200, 201, 0.7);
  position: fixed;
  top: 0;
  z-index: 10;
  #menu_left {
    float: left;
    a {
      color: red;
      font-size: 32px;
    }
  }

  #header_btn {
    display: none;
    position: fixed;
    top: 1%;
    right: 7%;
    height: 38px;
    width: 10px;
    z-index: 10;
    transition: opacity 0.25s;
    color: white;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
  }
  #menu_right {
    #close-modal {
      display: none;
      z-index: 10;
      .fa-times {
        position: absolute;
        top: 12px;
        right: 12px;
        color: white;
        opacity: 0.8;
        &:hover {
          opacity: 1;
        }
      }
    }
    ul {
      float: right;
      li {
        list-style: none;
        display: inline-block;
        a {
          line-height: 65px;
          padding-left: 25px;
          color: white;
          display: block;
          transition: all 0.5s;
        }
      }
    }
  }
} /*ここまでがheader*/

/*top-wrapper*/
#top-wrapper {
  @include Top-Wrapper($index);
  p {
    color: white;
    opacity: 0.8;
    font-size: 32px;
    &:hover {
      opacity: 1;
    }
  }
} /*ここまでがtop-wrapper*/

/*main-wrapper*/
#main-wrapper {
  color: white;
  padding: 30px 0;
  background-color: rgba(77, 189, 233, 0.856);
  #locations {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    h2 {
      background-color: #00adff;
      color: white;
      font-size: 48px;
      margin-bottom: 25px;
    }
    .location {
      flex: auto;
      width: 30%;
      margin: 0 auto;
      background-color: #dee2e6;
      margin: 20px 15px;
      padding: 10px 0;
      img {
        margin: 0 10px;
      }
      .topNaviDetail {
        text-align: center;
        padding: 20px 10px 0;
      }
    }
  }
} /*ここまでがmain-wrapper*/

/*footer*/
footer {
  #Copyright {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
}

//ここから下は山口県、三重県、石川県のページに関する記述

/*3県に共通する項目*/

/*風景コレクション,食べ物コレクションに関する記述*/
.type-wrapper {
  text-align: center;
  background-color: #b3e6ffe6;
  h3 {
    font-size: 48px;
    color: white;
    padding: 70px 0 50px;
  }
  .type {
    margin: 10px 20px 0;
    padding: 30px 10px 50px;
    img {
      margin: 10px 30px;
    }
  }
}

/*山口県のcss*/
#yamaguchi_top-wrapper {
  @include Top-Wrapper($yamaguchi);
  background-size: cover;
}

/*三重県のcss*/
#mie_top-wrapper {
  @include Top-Wrapper($mie);
  background-size: cover;
}

/*石川県のcss*/
#ishikawa_top-wrapper {
  @include Top-Wrapper($ishikawa);
  background-size: cover;
}
