/*背景画像*/
$index:url(images/top_background.jpeg);
$yamaguchi:url(images/yamaguchi_images/single_yamaguchi.jpeg);
$mie:url(images/mie_images/single_mie.jpeg);
$ishikawa:url(images/ishikawa_imagges/single_ishikawa.jpeg);

/*タイトルのフォントサイズ*/

